
@keyframes animatedBackground {
  0% { background-color: RGBA(123, 205, 246, 0); }
	40% { background-color: RGBA(123, 205, 246, 1); }
  60% { background-color: RGBA(123, 205, 246, 1); }
  100% { background-color: RGBA(123, 205, 246, 0);}
}

@keyframes animatedBackground2 {
	0% { border-left-color: RGBA(123, 205, 246, 0); }
	40% { border-left-color: RGBA(123, 205, 246, 1); }
  60% { border-left-color: RGBA(123, 205, 246, 1); }
  100% { border-left-color: RGBA(123, 205, 246, 0);}
}


// Constrict the width of the Shoppable widget
.ivp-gopro-theme {
  max-width: 1200px;
  min-width: 1200px;
  margin: 0 auto;
}

// This fixes a line-height and variable bug in ivp 2.3
[class*='ivp-'] > p {
  line-height: 1.3
}

// Poster
.ivp-gopro-theme .ivp-poster,
.ivp-gopro-theme .ivp-endscreen {
  // switch this style out when the pod loads
  background: #000;
  background-size: cover;
  .ivp-gopro-header-container {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
  }
  .ivp-gopro-play-box {
    position: relative;
    height: 85px;
    width: 230px;
    margin: 0 auto;
    border: 8px solid #fff;
    top: 37.5%;
  }
  .ivp-gopro-play-box-content {
    position: relative;
    transform: translateY(-40%);
    top: 50%;
    text-align: center;
  }
  .ivp-gopro-play-box p {
    color: #fff;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'PFDinTextProMedium', sans-serif;
    font-size: 24px;
    word-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  h2 {
    font-family: 'PFDinTextProBold', sans-serif;
    font-size: 57px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0;
  }
  .ivp-gopro-poster-play {
    display: inline-block;
    padding-left: 8px;
  }
  .ivp-gopro-poster-replay {
    display: inline-block;
    padding-right: 8px;
  }
  .ivp-gopro-poster-play:before {
    font-family: 'controls';
    font-size: 18px;
    line-height: 1;
    position: relative;
    top: 1px;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    content: '\0070';
    color: #fff;
  }
  // .ivp-gopro-poster-replay:before {
  //   background-image: url('../images/replay.png');
  //   content: ' ';
  // }
}

.ivp-gopro-theme .ivp-poster:hover {
  cursor: pointer;
  .ivp-gopro-play-box {
    background: #fff;
  }
  .ivp-gopro-poster-play:before,
  .ivp-gopro-play-box p {
    color: #000;
  }
}


// Endscreen
.ivp-gopro-theme .ivp-endscreen {
    cursor: pointer;
}

.ivp-gopro-theme {
  .ivp-endscreen {
    background-color: rgba(0,0,0,0.3);
    background-size: 100% auto;
  }
  .ivp-card-cta {
    @extend %cta;
    font-size: 19.5px;
    text-transform: uppercase;
    padding: 15px 20px 13px 20px;
    border-radius: 2px;
    color: #fff;
    line-height: 1;
  }
  .ivp-card-cta--primary {
    background: $ivp-card-cta-primary-background;
    border-color: $ivp-card-cta-primary-background;
    &:hover {
      background-color: darken(#26C109, 5%);
      border-color: darken(#26C109, 5%);
    }
  }
  .ivp-card-enabled {
    visibility: visible !important;
  }
  .ivp-cards {
    background: none;
    transition: background .25s ease-in-out 0;
  }
  .ivp-cards-enabled {
    background: rgba(255,255,255,0.4);
  }
  .ivp-card .ivp-btn--close {
    position: absolute;
    font-size: 17px;
    top: 5px;
    right: 8px;
    color: #a7a9ac;
    &:hover {
      color: #111;
    }
  }

}


// ==========================================================================
//
// Large Card
//
//

.ivp-gopro-theme .ivp-card--large {
  width: 920px;
  background-color: #fff;
  font-family: 'ProximaNovaRegular', sans-serif;
  font-weight: normal;
  h3 {
    margin: 52px 0 23px 0;
    font-family: 'ProximaNovaSemibold', sans-serif;
    font-size: 28px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #232323;
  }
  hr {
    border: none;
    border-top: 1px solid #E8E8E8;
    padding-bottom: 26px;
  }
  p {
    font-size: 18px;
    margin: 0 0 18px 0;
    font-family: 'ProximaNovaRegular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  .ivp-card-content {
    background: $ivp-card-background;
    color: $ivp-card-body-color;
  }
  .ivp-card-text {
    min-height: 260px;
  }
  .ivp-card-image {
    padding-top: 65px;
    img {
      margin: 0 auto
    }
  }
  .ivp-gopro-card-compat {
    font-family: 'ProximaNovaSemibold', sans-serif;
    color: #666;
  }
  .ivp-gopro-card-footer {
    background: #EDEEEF;
    padding: 25px 0 23px 0;
  }
  .ivp-gopro-bundle-name {
    font-family: 'PFDinTextProMedium', sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-size: 29px;
    letter-spacing: -1px;
  }
  .ivp-gopro-card-price {
    margin: 0;
    text-transform: uppercase;
    line-height: 1;
    font-size: 24px;
    letter-spacing: -1px;
    display: inline-block;
  }
  .ivp-gopro-cart-status {
    display: inline-block;
    margin-left: 10px;
  }
  .ivp-gopro-cart-icon {
    height: 15px;
    width: 16px;
    background: #00ADEF;
    display: inline-block;
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60% auto;
    /* padding-bottom: 13px; */
    margin-bottom: -2px;
  }
  .ivp-card-ctas {
    margin-top: 2px;
    float: right;
  }
  .ivp-card-cta {
    display: table;
  }
  .ivp-card-cta--primary:after {
    text-transform: none !important;
    font-family: 'controls';
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:'\0061';
    color: #fff;
    margin-left: 5px;
    padding-top: 0px;
    display: block;
    float: right;
  }
  // Recap Card
  .ivp-end-card-text h3 {
    margin: 20px 0 10px 0;
  }
  .ivp-end-card-image {
    min-height: 200px;
  }

}



// ==========================================================================
//
// Beacon Hotspot
//
//

.ivp-gopro-theme {
  .ivp-hotspot-title {
    display: none;
  }
  // .ivp-hotspot-icon {
  // 	display: block;
  // 	height: 50px;
  // 	width: 40px;
  //   background: url('../images/hotspot_2.gif') no-repeat center center;
  // }

  .ivp-hotspot-icon {
    display: block;
    width: 39px;
        height: 41px;
        position: relative;
        background-position: center 0%;
  background-repeat: no-repeat;

    background-image: url('../images/hotspot-icon.png');

    animation: animatedBackground 2s linear infinite;

  }
  .ivp-hotspot-icon:before {
    content: "";
        position: absolute;
        right: 50%;
        width: 0;
        top: 100%;
        height: 0;
        border-top: 0px solid transparent;
        border-left: 20px solid red;
        border-bottom: 12px solid transparent;
    animation: animatedBackground2 2s linear infinite;
  }


  // Hide the close button
  .ivp-hotspot .ivp-btn--close {
    @extend %hide;
  }

}

// ==========================================================================
//
// Notification Hotspot
//
//

.ivp-gopro-theme {

  .ivp-hotspot-container--notify {
    width: 340px;
    right: 0;
    top: 2.5%;
  }
  .ivp-hotspot--notify {
    cursor: default;
    background: none;
    width: 100%;
  	padding: 0;
    //position: relative;
    overflow: hidden;
    height: 65px;
    transform-origin: top center;
    color: #222;
  }
  .ivp-notification-inside {
    position: relative;
    cursor: pointer;
    background: #fff;
    height: 125px;
    overflow: hidden;
    margin: 10px 0;
    &:hover {
      // background: #353537;
      .ivp-notification-learn-more {
          background-color: darken(#00ADEF, 5%);
      }
    }
  }
  .ivp-hotspot--notify .ivp-notification-image {
  	width: 125px;
  	float:left;
    margin-right: 10px;
    margin-left: 10px;
  }
  .ivp-hotspot--notify .ivp-notification-text {
    margin: 20px 20px 0 0;
  	> h3 {
      font-family: 'PFDinTextProMedium', sans-serif;
  		margin: 0;
  		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
  		text-rendering: optimizeLegibility;
      font-size: 19px;
      font-weight: normal;
      line-height: 1.2;
  	}
  }
  .ivp-notification-learn-more {
    position: absolute;
    bottom: 20px;
    left: 145px;
    background-color: #00ADEF;
    color: #fff;
    padding: 7px 10px 5px 16px;
  }
  .ivp-notification-learn-more p {
    font-family: 'ProximaNovaSemibold', sans-serif;
    margin: 0;
    font-size: 14.5px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // letter-spacing: .5px;
    &:after {
      text-transform: none !important;
      font-family: 'controls';
      font-size: 9px;
      font-style: normal;
      font-weight: normal;
      //-webkit-font-smoothing: antialiased;
      //-moz-osx-font-smoothing: grayscale;
      content:'\0061';
      color: #fff;
      margin-left: 8px;
    }
  }

}


.ivp-gopro-theme .ivp-endscreen {
  z-index: 2;
}
